@model IEnumerable<RockShop.Data.Models.User>

@{
    ViewData["Title"] = RockShop.Properties.Resource.User;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">@RockShop.Properties.Resource.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordHash)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@RockShop.Properties.Resource.Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@RockShop.Properties.Resource.Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@RockShop.Properties.Resource.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
