@model IEnumerable<RockShop.Data.Models.Rock>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex flex-row flex-wrap">
    @foreach (var item in Model)
    {
        <div class="w3-card-4 w3-dark-grey w-25 m-2 p-2">
            <div class="w3-container w3-center">
                <h3>@item.Name</h3>
                <img src="data:image/png;base64, @item.Image" alt="Avatar" style="width:80%">
                <h5>@item.Description</h5>
                <h5>@item.Price</h5>
                <button class="w3-button w3-white w-100 js-order" id="@item.Id" data-id="@item.Id" data-name="@item.Name">Order</button>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="CreateOrder">
                <input type="hidden" id="orderid" />
                <div class="modal-body">
                    <p>Item: <span id="order-item"></span></p>
                    <div>
                        <p>Count:</p>
                        <input type="number" id="ordercount" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Confirm order</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {

            var modalWnd = $('#exampleModal');

            $('.js-order').on('click', function () {
                $('#ordercount').val(0);
                $('#order-item').html($(this).attr('data-name'));
                $('#orderid').html($(this).attr('data-id'));

                modalWnd.modal('show');
            });

        });

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        @if(ViewBag.Message != null)
        {
            <text>
                toastr["@(ViewBag.MessageType ?? "success")"]("@ViewBag.Message");
            </text>
        }

    </script>
}