@model IEnumerable<TranslateChatter.ChatAPI.Room>
@inject TranslateChatter.Services.ILocalizer localizer

@{
    ViewData["Title"] = "Index";

    var count = Model.Count(x => x.CreatorId == User.Id());
}


@if (count < 2)
{
    <p>
        <a class="btn btn-dark" asp-action="Create">@localizer["CreateRoom"]</a>
    </p>
}

<div class="form-group">
    <h2>@localizer["YourRoom"]</h2>
    <hr />
    <div class="d-flex flex-wrap justify-content-start text-center">
        @foreach (var item in Model.Where(x => x.CreatorId == User.Id()))
        {
            <a href="@Url.Action("RoomChat", "Home", new { id = item.Id })">
                <div class="card p-3 m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    </div>
                </div>
            </a>
        }
    </div>
</div>


<div class="form-group">
    <h2>@localizer["OtherRoom"]</h2>
    <hr />
    <div class="d-flex flex-wrap justify-content-start text-center">
        @foreach (var item in Model.Where(x => x.CreatorId != User.Id()))
        {
            <a href="@Url.Action("RoomChat", "Home", new { id = item.Id })">
                <div class="card p-3 m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
