<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SiteCarAsp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/cards/css/cards.css" />
    <link rel="stylesheet" href="~/lib/slick-carousel/slick.min.css" />
    <link rel="stylesheet" href="~/lib/slick-carousel/slick-theme.min.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Index","Car")"><img src="~/img/icon.svg" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Car")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("NewCars","Car")">New cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("UsedCars","Car")">Used cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","TestDrive")">Test drive</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Credits")">Credits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AboutUs","Home")">About us and Contacts</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="border-top footer text-muted">
        <p class="text-center w-100">
            © 2019-@DateTime.Today.Year OOO "Test Drive"
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/slick-carousel/slick.min.js"></script>
    <script src="~/lib/cards/js/cards.js"></script>
    <script src="~/js/filter.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
